.heading {
    font-size: 25px;
    width: 70%;
    margin: 0px;
    box-shadow: 10px 10px 20px grey;
}

.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 40px;
    color: black;
    box-shadow: 10px 10px 10px grey;
}

.heading_div2 {
    font-size: 18px;
}

.result_para_tag {
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}

.copy_right_footer {
    width: 100%;
    text-align: center;
    background-color: burlywood;
    position: fixed;
    font-size: 30px;
    bottom: 2;
    line-height: 1.5;
    color: white;
}

canvas {
    border: 5px;
    border-radius: 20px;
    box-shadow: grey 5px 5px 5px;
    margin-top: 150;
}